*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header{
    background-color: grey;
}

header{
    text-align: center;
    padding: 60px 0px 120px 0px;


@media(min-width: 600px){
    main section article{
    width: 50%;
    }
}